@charset "utf-8";
html, body{
	font-family: Lato, sans-serif;
	font-size:100%;
}
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 no admite max-width (anchura máxima), por lo que usa de manera predeterminada una anchura del 100% */
.ie6 img {
	width:100%;
}

/*
	Propiedades de cuadrícula fluida de Dreamweaver
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiración obtenida de "Responsive Web Design" de Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	y Golden Grid System de Joni Korpi
	http://goldengridsystem.com/
*/

/* Diseño móvil: 480 px e inferior. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 25px;
}
#container-sale-ends{
	display:inline-block;
	vertical-align: top;
	box-sizing:inherit;
}
#sale-ends-text{
	display:inline-block;
	font-size:22px;
	margin-top:24px;
	color:#212b36;
	text-transform:uppercase;
	vertical-align: top;
}
#sales-ends-countdown{
	display:inline-block;
	vertical-align: top;
	margin-top:8px;
}
.countdown-item{
	background-color: #F60;
	display:inline-block;
	box-sizing:border-box;
	height:64px;
	width:56px;
	color:#fff;
	line-height:1;
	text-align:center;
	border-radius:4px;
	font-size:32px;
	padding:8px;
	margin-right:8px;
}
.countdown-item:after{
	text-transform:uppercase;
	content:attr(data-label);
	display:block;
	letter-spacing:0;
	font-size:12px;	
}
#product-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 55px;
	font-size:24px;
}
#pictures {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	margin-top: 25px;
	margin-bottom: 25px;
}
#icon-promo-movil{
	width:96px;
	height:96px;
	background-color:#F60;
	position: absolute;
	display:block;
	border-radius:100%;
	margin-left:69%;
	margin-top:-75px;
	line-height:1;
	padding:2px;
	z-index:999;
}
#icon-dashed-movil{
	position:absolute;
	width:88px;
	height:88px;
	margin:0 auto;
	border-radius:100%;
	border:2px dashed #FFF;
	left:4px;
	top:4px;
	line-height:1;
	text-align:center;
	color:#FFF;
}
#icon-promo-tablet{
	display:none;
}
.off{
	font-size:36px;
	color:#FFF;
	margin-top:15px;
}
#promo-price {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 25px;
}
#normal-price{
	margin-top:15px;
	font-size:14px;
}
.raya{
	text-decoration:line-through red;
	color:#F00;
}
#actual-price{
	margin-top:6px;
	font-size:48px;
	color:#333333;
	line-height:1;
	font-weight:700;
}
#save{
	margin-top:8px;
	font-size:16px;
}
#button-order{
	margin-top:20px;
}
#button-order-now{
	background-color:#5CB85C;
	border-color:#55b255;
	border-radius:5px;
	padding:5px;
	width:270px;
	height:46px;
	font-size:24px;
	color:#FFF;
	font-weight:700;
	cursor:pointer;
	margin-top:12px;
}
#button-order-now:hover{
	background-color: #55b255;
}
#paypal-icons{
	margin-top:5px;
	margin-bottom:10px;
}
#container-counts{
	box-sizing:inherit;
	display:block;
	border:1px solid #a3a3a3;
	border-radius:5px;	
	max-width:300px;
}
#count-table{
	margin:0;
	border-radius:5px;
}
#count-table td{
	width:25%;
	color:#111;
	padding:8px 0;
	font-size:14px;
	line-height:1;
	text-align:left;
}
#count-table td.sell-count{
	font-size:32px;
	line-height:1.6;
	text-align:right;
	padding-right:8px;
}
#count-table td.stock-count{
	font-size:32px;
	line-height:1.6;
	text-align:right;
	padding-right:8px;
	color: #F00;
	border-left:1px solid #a3a3a3;
	
}

#product-description {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:20px;
	padding-top:10px;
	background-color:#ECECEC;
	border:1px solid #ECECEC;
}
#about-product-title{
	font-size: 24px;
	color:#111111;
	font-weight:700;
	padding:5px;
}
#specifications{
	color:#212B36;
}
#specifications li{
	padding:8px;
}



#call-to-action {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color:#2F4158;
	padding-top:45px;
	padding-bottom:45px;
	color:#FFF;
	font-size:28px;
	border:1px solid #2F4158;
}
#reviews-container {
}
/* Reviews */
#reviews {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:25px;
	text-align:center;
}
.review{
	max-width:832px;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
}
.review-stars a{
	max-width:832px;
	margin-left:auto;
	margin-right:auto;
	font-size: 0;
	display: inline-block;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-size: 2rem;
	color: rgb(255, 122, 13);
	text-shadow: .1em .1em .2em rgba(0,0,0,.3);
	margin-bottom:5px;
}
.review-title{
	font-size:16px;
	font-weight:700;
	line-height:1;
	color:#111;
	margin-bottom:8px;
}
.review-author{
	line-height:1;
	font-size:16px;
	color:#5d5d5d;
	margin-bottom:16px;
}
.review-text{
	line-height:1.5;
	font-style:italic;
	color:#111;
	margin-bottom:32px;
	font-size:16px;
}
.review-text:before{
	content:'"';
}
.review-text:after{
	content:'"';
}
#fqa {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 25px;
}
.question{
	display:block;
	font-size:24px;
	line-height:1;
	font-weight:700;
	color:#111;
	cursor:pointer;
	text-align:center;
	margin-top:35px;
}
.answer{
	font-size:14px;
	line-height:1.5;
	color:#0e0e0e;
	padding-top:10px;
	max-width:600px;
	margin:0 auto;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 5px;
}
#copyright{
	padding-top:15px; 
	font-size:11px; 
	color:#111; 
	line-height:1;  
}
#links{
	padding-top:15px; 
	font-size:11px; 
	color:#111; 
	line-height:1; 
}
/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */

@media only screen and (min-width: 720px) {
.gridContainer {
	width: 100%;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#container-sale-ends{
	float:right;
	margin-right:15px;
}
#logo{
	display:inline-block;
	float:left;
	margin-left:15px;
}
#product-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-size:26px;
}
#pictures {
	clear: both;
	float: left;
	margin-left: 0;
	width: 58.5384%;
	display: block;
	margin-top:12px;
}
#promo-price {
	clear: none;
	float: left;
	width: 38.8974%;
	display: block;
	border:1px solid #a3a3a3;
	border-radius:5px;
	padding-top:12px;
	padding-bottom:12px;
	height:420px;
	margin-right:15px;
}
#icon-promo-tablet{
	width:96px;
	height:96px;
	background-color:#F60;
	position: absolute;
	display:block;
	border-radius:100%;
	line-height:1;
	padding:2px;
	z-index:999;
	margin-left:-50px;
	margin-top:100px;
}
#icon-dashed-tablet{
	position:absolute;
	width:88px;
	height:88px;
	margin:0 auto;
	border-radius:100%;
	border:2px dashed #FFF;
	left:4px;
	top:4px;
	line-height:1;
	text-align:center;
	color:#FFF;
}
#icon-promo-movil{
	display:none;
}
#container-counts{
	box-sizing:inherit;
	display:block;
	border: none;
	border-radius:5px;
	max-width:320px;
}
#count-table{
	border-top:1px solid #a3a3a3;
	border-bottom:none;
	border-right:none;
	border-left:none;
}
#count-table td{
	width:25%;
	color:#111;
	padding:8px 0;
	font-size:14px;
	line-height:1;
	text-align:left;
}
#count-table td.sell-count{
	font-size:32px;
	line-height:1.2;
	text-align:right;
	padding-right:8px;
}
#count-table td.stock-count{
	font-size:32px;
	line-height:1.7;
	text-align:right;
	padding-right:8px;
	color: #F00;
	border-left:1px solid #a3a3a3;
	
}
.items-word{
	font-size:16px;
	display:block;
	margin-top:10px;
}
#product-description {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#call-to-action {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom:0;
}
#reviews {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border-right:1px solid #666;
	border-left:1px solid #666;
	margin-top:0px;
	padding-top:35px;
	margin-bottom:0;

}
#fqa {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border-right:1px solid #666;
	border-left:1px solid #666;
	margin-bottom:0;
	margin-top:0px;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-top:0px;
}
#copyright{
	padding-top:15px; 
	font-size:16px; 
	color:#111; 
	line-height:1; 
	display:inline-block; 
	float:right;
}
#links{
	padding-top:15px; 
	font-size:16px; 
	color:#111; 
	line-height:1; 
	display:inline-block; 
	float:left;
}
}

/* Diseño escritorio: de 769 px hasta un máximo de 1232 px.  Hereda estilos de: Diseño móvil y Diseño tableta. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 90%;
	max-width: 800px;
	margin: auto;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#product-title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-size:36px;
}
#pictures {
	margin-top:12px;
}
#promo-price {
	
}
#product-description {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#call-to-action {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#reviews {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#call-to-action-2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#fqa {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	
}
#call-to-action-3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}
.gridContainer.clearfix #product-title h1 {
	font-size: 22px;
	font-family: Lato, sans-serif;
	color: #333333;
}
